body {
  font-family: 'PT Sans', sans-serif;
}


.header-background {
  background-image: url("../assets/mountain_background.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-background__message {
  font-weight: bold;
  font-size: 200%;
  color: white;
}

.chart-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 140%;
  font-weight: 200;
}

.chart-row {
  padding: 20px;
}

.chart-container {
  height: 300px;
}
